:root {
  --primary-color: #a1887f;

  --primary-font-color: white;
  --secondary-font-color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--primary-color);
}